{% extends 'management/base.html' %}
{% block content %}
{% include 'management/header.html' with meteo_data=meteo %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <form method="post">{% csrf_token %}
                <div>
                    {{ form.first_name.errors }}
                    <label for="{{form.first_name.id_for_label}}">
                        {{form.first_name.label}}
                        <input type="text" id="{{form.first_name.id_for_label}}" name="{{form.first_name.id_for_label}}">
                    </label>
                </div>
                <div>
                    {{ form.last_name.errors }}
                    <label for="{{form.first_name.id_for_label}}">
                        {{form.last_name.label}}
                        <input type="text" id="{{form.last_name.id_for_label}}" name="{{form.last_name.id_for_label}}">   
                    </label>
                </div>
                <div>
                    {{ form.username.errors }}
                    <label for="{{form.username.id_for_label}}">
                        {{form.username.label}}
                        <input type="text" id="{{form.username.id_for_label}}" name="{{form.username.id_for_label}}" value="{{form.username.value}}">   
                    </label>
                </div>
                <div>
                    {{ form.email.errors }}
                    <label for="{{form.email.id_for_label}}">
                        {{form.email.label}}
                        <input type="text" id="{{form.email.id_for_label}}" name="{{form.email.id_for_label}}">   
                    </label>
                </div>
                
                <div>
                    <label for="{{form.password.label.auto_id}}">
                        {{form.password.label}}
                        <input type="text" id="{{form.password.id_for_label}}" name="{{form.password.id_for_label}}">   
                    </label>
                </div>
                <div>
                    {% if form.fields.user_permissions.choices %}    
                        {{form.user_permissions.errors}}
                        <label for="form.user_permissions.label_tag">{{form.user_permissions.label}}</label>
                        <select multiple>
                            {% for key, value in form.fields.user_permissions.choices %}
                                <option value="{{value}}">{{key}} : {{value}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
                <div>
                    {% if form.fields.groups.choices %}
                        {{form.groups.errors}}
                        <label for="form.groups.label_tag">{{form.fields.groups.label}}</label>
                        <select name="form.groups.label_tag" id="form.groups.label_tag">
                            <option value="">pas de permission</option>
                            {% for key, value in form.fields.groups.choices %}
                                <option value="{{value}}">{{value}}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div> 
                <div>
                    {{ form.is_active.errors }}
                    <label for="{{form.is_active.id_for_label}}">
                        {{form.is_active.label}}
                        <input type="checkbox" id="{{form.is_active.id_for_label}}" name="{{form.is_active.id_for_label}}">
                        <span></span>
                    </label>
                </div>   
                <div>
                    {{ form.is_staff.errors }}
                    <label for="{{form.is_staff.id_for_label}}">
                        {{form.is_staff.label}}
                        <input type="checkbox" id="{{form.is_staff.id_for_label}}" name="{{form.is_staff.id_for_label}}">
                        <span></span>
                    </label>
                </div>   
                <input type="submit" value="Save">
            </form>
        </div>
    </div>
</div>
{% endblock %}