<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- En-tête du document  -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'node_modules/materialize-css/dist/css/materialize.css' %}">
    </head>
    
    <body>
        {% block content %}
        {% endblock %}
    </body>

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'node_modules/materialize-css/dist/js/materialize.js' %}"></script>
    <script type="text/javascript">
        // must implements this script for select wrapper element
        // i voluntary omit the options parameter
        // for more informations see https://materializecss.com/select.html
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
    </script>
</html>