<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <!-- En-tête du document  -->
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'node_modules/materialize-css/dist/css/materialize.min.css' %}">
    </head>
    
    <body>
        {% block content %}
        {% endblock %}
    </body>

    <!-- Compiled and minified JavaScript -->
    <script src="{% static 'node_modules/materialize-css/dist/js/materialize.min.js' %}"></script>
        
</html>