{% extends 'management/base.html' %}
{% block content %}
{% include 'management/header.html' with meteo_data=meteo %}
<div class="container">
        <div class="row">
            <div class="col s12">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}Important: {% endif %}
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <h1>Voici la liste des missions en cours</h1>
                {% if mission_in_progress %}
                    <table>
                        <thead>
                            <tr>
                                <th>nom de code</th>
                                <th>description</th>
                                <th>statut</th>
                                <th>début</th>
                                <th>fin</th>
                                <th>ressources</th>
                                <th>client</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mission in mission_in_progress %}
                                <tr>
                                    <td>{{ mission.code_name }}</td>
                                    <td>{{ mission.description }}</td>
                                    <td>
                                        {% if mission.in_progress %}
                                            en cours
                                        {% else %}
                                            terminé
                                        {% endif %}
                                    </td>
                                    <td>{{ mission.begin_at }}</td>
                                    <td>{{ mission.end_at }}</td>
                                    <td>
                                        <ul>
                                            <!-- reverse realtion models in template -->
                                            {% for resource in mission.r_mission.all %}
                                                <li><a href="{% url 'crm:detail_resource' resource.id %}">{{ resource }} </a></li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td><a href="{% url 'crm:detail_client' mission.client.id %}">{{ mission.client }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
    